body { 
		margin:5%; 
		background-color:moccasin; 
		text-align:justify; 
		font-family:"Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;}
blockquote {font-family:"Courier";}
p { text-indent: 1em; margin-top: .25em; margin-bottom: .25em; }
pre {
	 	text-align: justify; 
		font-style: italic;
		font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif; 
		margin-left: 7.5%;}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}

.mynote {
	background-color: #AAA;
	padding: 1em; 
}
.mynote pre {
	text-align: justify; 
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif; 
	margin: 5%;
	font-style: normal;
}

body pre:last-child {
	font-style: normal;
	font-size: small;
	text-align: left;
	float: center;

}
img {
	border: 1em solid #8A2E00;
	max-width: 500px;
}
